<article id="shop">

  <% @sales_items.each do |sales_item| %>
    <section>
      <h1><%= sales_item.name %></h1>
      <p>
        <%= image_tag sales_item.image_url(:thumb) if sales_item.image? %>
      </p>
      <p>
        <%= sales_item.description %>
      </p>
      <p>
        <%= sales_item.price %>
      </p>
    </section>
  <% end %>
</article>


