/*
* Partial: site-branding.scss
*/

$heading-font: 'Verdana', 'Arial', 'Helvetica', sans-serif;
$accent-font: 'Georgia', 'Times New Roman', serif;
$body-font: 'Times New Roman', 'Times', serif;

$white: #FFFFFF;
$khaki: #808000;
$mid-green: #008000;
$dark-green: #50b450;
$near-black: #333;
