<header id="page_header" role="banner">
  <nav id="utility">
        <% if user_signed_in? %>
            Signed in as <%=  current_user.email %>:
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete  %>
        <% else %>
            <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
        <% end %>
   </nav>
  <h1>Ashtead Allotments Association</h1>
  <h2>Healthy Eating and Exercise preserve Life's Balance</h2>
</header>